html {
	background-color: #32393E;
	color: white;
	margin: 50px 40px;
	font-family: 'Droid Sans', sans-serif; 
	width: 1335px;
}

#content {
	margin-top: 10px;
}

#footer {
	margin: 40px 0 60px 0;
	text-align: center;
	font-size: 12px;
	color: #888;
}

#items_list {
	float: right;
	font-size: 12px;
	color: #777;
}

#fx_chrome {
	position: relative;
	margin-top: 3px;
	z-index: -1;
	opacity: .2;
}

.button {
  background-color: #32393E;
  border:medium none;
  color:#AAA;
  cursor:pointer;
  font-size:11px;
  padding:6px 9px;
  text-decoration:none;
  border-top: 1px dotted #555;  
  border-bottom: 1px dotted #555;  
  border-left: 1px dotted #555;    
}

.button.active{
  background-color: #CCC; 
  color: #444;
  border: none;
}

.button.inactive {
	color: #414141; 
  border-left: 1px dotted #444; 	
}

.button.left {
	margin-left: 5px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px; 
}

.button.right {
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;  
  border-right: 1px solid #555;    
}

.overlay {
	position: relative;
	float: left;
	width: 28px;
	height: 22px;
	background-color: #2171B5;
	opacity: .6;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	font-size: 10px;
	color: #EEE;
	text-align: center;
	line-height: 2.3em;
	cursor: pointer;
}

#firefox_button {
	position: absolute; 
	top: 204px; 
	left: 49px; 
	height: 17px;
	width: 91px;
	-moz-border-radius: 0 0 3px 3px; 
	-webkit-border-radius: 0 0 3px 3px;
	line-height: 1.8em;
}

#tab_strip {
	position: absolute; 
	top: 226px; 
	left: 50px; 
	width: 50%;
}

#navigation_toolbar {
	position: absolute; 
	top: 257px; 
	left: 50px; 
	width: 100%;
}

#navigation_toolbar_overflow {
	position: absolute; 
	top: 300px; 
	left: 50px; 
	width: 50%;
}

#horizontal_scroll {
	position: absolute; 
	top: 918px; 
	left: 47px; 
	width: 100%;
}

#vertical_scroll {
	position: absolute; 
	top: 287px; 
	left: 980px; 
}

#tab_scroll_left { }
#tab_scroll_right { left: 830px; }
#new_tab { left: 833px; }
#list_all_tabs { left: 836px; }

#back { top: -5px; width: 32px; height: 32px; -moz-border-radius: 20px; -webkit-border-radius: 20px; line-height: 3.4em; }
#forward { width: 22px; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 8px 8px 0; }
#reload { left: 20px; }
#home { left: 28px; }

#site_id { left: 37px; width: 24px; }
#location_bar { left: 38px; width: 422px; }
#location_bar_go_button { left: 40px; width: 22px; }
#most_visited_drop_down { left: 42px; width: 22px; }

#search_drop_down { left: 51px; width: 30px; }
#search_bar { left: 52px; width: 119px; }
#search_go_button { left: 53px; width: 23px; }
#bookmarks_button { left: 61px; width: 32px; }
#feedback_button { left: 70px; width: 70px; }

#bookmarks_bar { width: 150px; }
#rss { left: 291px; width: 90px; }
#bookmark_star { left: 293px; width: 110px; }

#scroll_left { height: 17px; width: 22px; line-height: 1.7em; }
#scroll_horizontal_bar { left: 262px; width: 332px; height: 17px; line-height: 1.7em; }
#scroll_right { left: 560px; height: 17px; width: 22px; line-height: 1.7em; }

#scroll_up { height: 17px; width: 22px; line-height: 1.7em; }
#scroll_vertical_bar { top: 109px; height: 363px; width: 22px; line-height: 37em; }
#scroll_down { top: 228px; width: 22px; line-height: 1.7em; }

h1 {
  font-size: 42px;
  color: #CCC; 
	margin-bottom: 2px;
}

h2 {
	font-size: 14px;
	color: #777;
	margin: 0 0 20px 2px;
}

a {
	color: #777;
}

ul {
	float: left;
	margin-right: 40px;
}

li {
	display: inline;
	margin-left: -4px;
}

li span {
	font-size: 15px;
	color: #888;
	margin-right: 12px;
	margin-left: 5px;
}

.perc_box {
	float: left;
	color:#EFEFEF;
	font-size:10px;
	margin:0 10px 0 0;
	padding:2px 0;
	text-align:center;
	width:34px;
	opacity: .6;	
}