html {
	background-color: #333;
	color: white;
	margin: 50px 50px;
	font-family: 'Droid Sans', sans-serif; 
}

#content {
	margin-top: 20px;
}

#fx_chrome {
	position: relative;
	z-index: -1;
	opacity: .2;
}

.button {
  background-color: #333;
  border:medium none;
  color:#AAA;
  cursor:pointer;
  font-size:11px;
  padding:6px 9px;
  text-decoration:none;
  border-top: 1px dotted #555;  
  border-bottom: 1px dotted #555;  
  border-left: 1px dotted #555;    
}

.button.active{
  background-color: #AAA; 
  color: #444;
  border: none;
}

.button.inactive {
	color: #414141; 
  border-left: 1px dotted #444; 	
}

.button.left {
	margin-left: 5px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px; 
}

.button.right {
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;  
  border-right: 1px solid #555;    
}

.overlay {
	position: relative;
	float: left;
	width: 28px;
	height: 22px;
	background-color: #2171B5;
	opacity: .5;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	font-size: 10px;
	color: #EEE;
	text-align: center;
	line-height: 2.3em;
	cursor: pointer;
}

#firefox_button {
	position: absolute; 
	top: 214px; 
	left: 59px; 
	height: 17px;
	width: 91px;
	-moz-border-radius: 0 0 3px 3px; 
	-webkit-border-radius: 0 0 3px 3px;
	line-height: 1.8em;
}

#tab_strip {
	position: absolute; 
	top: 236px; 
	left: 60px; 
	width: 100%;
}

#navigation_toolbar {
	position: absolute; 
	top: 267px; 
	left: 60px; 
	width: 100%;
}

#horizontal_scroll {
	position: absolute; 
	top: 928px; 
	left: 57px; 
	width: 100%;
}

#vertical_scroll {
	position: absolute; 
	top: 297px; 
	left: 990px; 
}

#tab_scroll_left { }
#tab_scroll_right { left: 830px; }
#new_tab { left: 833px; }
#list_all_tabs { left: 836px; }

#back { top: -5px; width: 32px; height: 32px; -moz-border-radius: 20px; -webkit-border-radius: 20px; line-height: 3.4em; }
#forward { width: 22px; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 8px 8px 0; }
#reload { left: 20px; }
#home { left: 28px; }

#site_id { left: 37px; width: 24px; }
#location_bar { left: 38px; width: 422px; }
#location_bar_go_button { left: 40px; width: 22px; }
#most_visited_drop_down { left: 42px; width: 22px; }

#search_engine_drop_down { left: 51px; width: 30px; }
#search_bar { left: 52px; width: 119px; }
#search_go_button { left: 53px; width: 23px; }
#bookmarks_button { left: 61px; width: 32px; }
#feedback_button { left: 70px; width: 70px; }

#rss { left: 530px; height: 16px; width: 16px; }
#bookmark_star { left: 540px; height: 16px; width: 16px; }

#scroll_horizontal_left { height: 17px; width: 22px; line-height: 1.7em; }
#scroll_horizontal_bar { left: 262px; width: 332px; height: 17px; line-height: 1.7em; }
#scroll_horizontal_right { left: 560px; height: 17px; width: 22px; line-height: 1.7em; }

#scroll_vertical_up { height: 17px; width: 22px; line-height: 1.7em; }
#scroll_vertical_bar { top: 109px; height: 363px; width: 22px; line-height: 37em; }
#scroll_vertical_down { top: 228px; width: 22px; line-height: 1.7em; }

h1 {
  font-size: 42px;
  color: #AAA; 
	margin-bottom: 5px;
}

h2 {
	font-size: 14px;
	color: #666;
	margin: 0 0 20px 2px;
}

a {
	color: #777;
}

ul {
	float: left;
	margin-right: 40px;
}

li {
	display: inline;
	margin-left: -4px;
}

li span {
	font-size: 15px;
	color: #888;
	margin-right: 12px;
	margin-left: 5px;
}