{% extends "heatmap_base.html" %}

{% block header %}
	<h1>Firefox Main Window Heatmap</h1>
	<h2>Based on ____ Test Pilot submissions from 5 days in July 2010 - <a href='' >Study details</a></h2>
{% endblock %}

{% block filters %}
	<ul>
		<li><a href='' class="button left active">Used by x% of users</a></li>
		<li><a href='' class="button right">Clicks per user</a></li>
	</ul>
	
	<ul>
		<li><a href='' class="button left active">Windows</a></li>
		<li><a href='' class="button">OS X</a></li>		
		<li><a href='' class="button right">Linux</a></li>
	</ul>

	<ul>
		<li><a href='' class="button left active">All Skills</a></li>
		<li><a href='' class="button">Beginner</a></li>
		<li><a href='' class="button">Intermediate</a></li>		
		<li><a href='' class="button right">Advanced</a></li>
	</ul>	
	
	<div style='height: 60px; clear; both;'></div>
{% endblock %}


{% block content %}
	<div id='content'>	
		<div id='items_list'>
			{% for item in items %}
				{{ item.id }} {{ item.item }} <br />
			{% endfor %}
		</div>	
			
		<img src='media/img/fx_4_b1.png' id='fx_chrome' />	
		<div style='background-color: ;' id='firefox_button' class='overlay'>{{ firefox_button.perc }}</div><div id='firefox_button_label' class='overlay_label'></div>
		
		<div id='tab_strip'>
			<div style='background-color: ;' id='tab_scroll_left' class='overlay'>{{ tab_scroll_left.perc }}</div><div id='tab_scroll_left_label' class='overlay_label'></div>														
			<div style='background-color: ;' id='tab_scroll_right' class='overlay'>15%</div><div id='tab_scroll_right_label' class='overlay_label'></div>														
			<div style='background-color: ;' id='new_tab' class='overlay'>15%</div><div id='new_tab_label' class='overlay_label'></div>														
			<div style='background-color: ;' id='list_all_tabs' class='overlay'>15%</div><div id='list_all_tabs_label' class='overlay_label'></div>																						
		</div>		
		
		<div id='navigation_toolbar'>
			<div style='background-color: ;' id='back' label='hello!' class='overlay'>15%</div><div id='back_label' class='overlay_label'></div>
			<div style='background-color: ;' id='forward' class='overlay'>15%</div><div id='forward_label' class='overlay_label'></div>	
			<div style='background-color: ;' id='reload' class='overlay'>15%</div><div id='reload_label' class='overlay_label'></div>
			<div id='stop_label' class='overlay_label'></div>
			<div style='background-color: ;' id='home' class='overlay'>15%</div><div id='home_label' class='overlay_label'></div>	
		
			<div style='background-color: ;' id='site_id' class='overlay'>15%</div><div id='site_id_label' class='overlay_label'></div>						
			<div style='background-color: ;' id='location_bar' class='overlay'>15%</div><div id='location_bar_label' class='overlay_label'></div>												
			<div style='background-color: ;' id='location_bar_go_button' class='overlay'>15%</div><div id='location_bar_go_button_label' class='overlay_label'></div>														
			<div style='background-color: ;' id='most_visited_drop_down' class='overlay'>15%</div><div id='most_visited_drop_down_label' class='overlay_label'></div>	
			
			<div style='background-color: ;' id='search_engine_drop_down' class='overlay'>15%</div><div id='search_engine_drop_down_label' class='overlay_label'></div>								
			<div style='background-color: ;' id='search_bar' class='overlay'>15%</div><div id='search_bar_label' class='overlay_label'></div>	
			<div style='background-color: ;' id='search_go_button' class='overlay'>15%</div><div id='search_go_button_label' class='overlay_label'></div>														
			<div style='background-color: ;' id='bookmarks_button' class='overlay'>15%</div><div id='bookmarks_button_label' class='overlay_label'></div>														
			<div style='background-color: ;' id='feedback_button' class='overlay'>15%</div><div id='feedback_button_label' class='overlay_label'></div>														
		</div>	
		
		<div id='navigation_toolbar_overflow'>
			<div style='background-color: ;' id='bookmarks_bar' class='overlay'>Bookmark Toolbar 15%</div><div id='bookmarks_bar_label' class='overlay_label'></div>														
			<div style='background-color: ;' id='rss' class='overlay'>RSS Icon 15%</div><div id='rss_label' class='overlay_label'></div>		
			<div style='background-color: ;' id='bookmark_star' class='overlay'>Bookmark Star 15%</div><div id='bookmark_star_label' class='overlay_label'></div>	
		</div>	
		
		<div id='vertical_scroll'>
			<div style='background-color: ;' id='scroll_vertical_up' class='overlay'>15%</div><div id='scroll_vertical_up_label' class='overlay_label'></div>
			<div style='background-color: ;' id='scroll_vertical_bar' class='overlay'>15%</div><div id='scroll_vertical_bar_label' class='overlay_label'></div>
			<div style='background-color: ;' id='scroll_vertical_down' class='overlay'>15%</div><div id='scroll_vertical_down_label' class='overlay_label'></div>																													
		</div>			

		<div id='horizontal_scroll'>
			<div style='background-color: ;' id='scroll_horizontal_left' class='overlay'>15%</div><div id='scroll_horizontal_up_label' class='overlay_label'></div>
			<div style='background-color: ;' id='scroll_horizontal_bar' class='overlay'>15%</div><div id='scroll_horizontal_bar_label' class='overlay_label'></div>
			<div style='background-color: ;' id='scroll_horizontal_right' class='overlay'>15%</div><div id='scroll_horizontal_down_label' class='overlay_label'></div>								
		</div>
		
		<div id='status_bar'>
		</div>							
	</div>				
	
{% endblock %}

