<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="google-site-verification" content="mLGN_ViWPzHrfTXdYeOgMpq531ENBolc6a7k9kaXtAg" />
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css">
	<link rel="stylesheet" href="media/css/tab.css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>	
</head>

{% block header %}
{% endblock %}

{% block filters %}
{% endblock %}

{% block content %}
{% endblock %}
